@keyframes play {
    from {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    to {
        background-color: white;
    }
}

.animacion {
    animation-name: play;
    animation-duration: 5;
}

.labelAtendido {
    padding: 0 0 12 0;
    font-weight: bold;
    font-size: 50;
    color:green;
}

.labelPendiente{
    padding: 0 0 12 0;
    font-weight: bold;
    font-size: 50;
    color:red;
}