.colorProducto {
    width: 20%;
    height: 20%;
    border-width: 1;
    border-color: white;
}

ActionBar {
    background-color: #ff0000;
    color: white;
    text-align: center;
    font-weight: bold;
}

@keyframes play {
    from {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    to {
        background-color: white;
    }
}

.animacion {
    animation-name: play;
    animation-duration: 5;
}

.labelAtendido {
    padding: 0 0 12 0;
    font-weight: bold;
    color:green;
}

.labelPendiente{
    padding: 0 0 12 0;
    font-weight: bold;
    color:red;
}
Label{
    font-size: 40%;
}